{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <div class="offset-2 col-8">

        {{ form_start(formReservation) }}
        {{ form_errors(formReservation) }}
        {{ form_row(formReservation.event) }}
        <hr>
        {{ form_row(formReservation.participant) }}
        <hr>
        {{ form_row(formReservation.date) }}
        <button type="submit" class="btn btn-primary col-2">
            {% if editMode %}
                Modifier la réservation
            {% else %}
                Réserver
            {% endif %}
        </button>
        {{ form_end(formReservation) }}
    </div>
{% endblock %}
